.post{
    max-width: 500px;
    border :1px solid lightgrey;
    background-color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}
.post-img{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.post-text{
    font-weight: normal;
    padding: 20px;
    

}
.post-Header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post-Avatar{
    margin-right: 10px;
}